/** ====|| Common CSS Start ||==== **/
@font-face{
    font-family: 'Uber Move', sans-serif;
    src: url(../fonts/UberMove-Bold.ttf);
}
/* Font Integration End */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Uber Move', sans-serif;
    margin: 0 auto;
}
h1{
    font-size: 40px;
    line-height: 48px;
    color: #0A0E10;
}
h2{
    font-size: 35px;
    line-height: 42px;
}
h3{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #3A494E;
}
h4{
    font-size: 25px;
    line-height: 30px;
}
p{
    font-size: 20px;
    line-height: 35px;
    color: #8C8686;
}
.primary-color{
    color: #0A0E10
}
.secondary-color{
    color: #0FC500;
}
.black-gray{
    color: #3A494E;
}
.small-font{
    font-size: 14px;
}
/** ====|| Common CSS Start ||==== **/

/** ====|| Navbar Section Start ||==== **/
.logo{
    width: 212px;
}
.book-now {
    border: 1px solid #0FC500;
}
.book-now2{
    background-color: #0FC500;
}
.book-now:hover {
    border: 1px solid #ffffff;
    color: #ffffff;
}
.user-img{
    width: 16px;
    margin-right: 7px;
}
/** ====|| Navbar Section End ||==== **/

/** ====|| Banner Section Start ||==== **/
.banner-bg{
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("/images/hero.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    margin: 0 auto;
}
.banner-margin{
    margin: 0 auto;
}
.book-form{
    background-color: rgba(10, 20, 20, 0.7);
}
.tab {
    border-bottom:  2px solid #fff;
}

.tab li, .tab-i li{
    list-style: none;
    text-decoration: none;
    font-weight: 500;
}

.tab li a:hover{
    color: rgba(255, 255, 255, 0.5);
}
.brand-section{
    margin-top: -120px;
}
.brand-section h4{
    font-size: 23px;
    letter-spacing: 3px;
    word-spacing: 3px;
    font-weight: 700;
}
/** ====|| Banner Section End ||==== **/

/** ====|| Service Section Start ||==== **/
.single-service{
    margin: 30px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}
.single-service:hover{
    border-bottom: 3px solid #0376F9;
}
.service-icon i{
    font-size: 64px;
    transition: .3s;
}
.single-service h3{
    transition: .3s;
}
.single-service:hover .service-icon i, .single-service:hover h3{
    color: #0376F9;
}
/** ====|| Service Section End ||==== **/